*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("sarah.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right; 
	list-style-type: none;
	margin-top:25px;
	
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #ffb3b3;
	padding: 5px 20px;
	border: 1px solid transparent;
	
}

ul li a:hover{
	background-color: #ffb3b3;
	color: #000000;
}

ul li.active a{
	background-color: #ffb3b3;
	color: #000000;
}

.logo img{
	float: left;
	width: 100px;
	height: auto;
}
	

.main {
	max-width: 1200px;
	margin: auto;
}

.sarah {
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-70%);
}

.sarah h1 {
	color: #ffb3b3;
	font-size: 45px;
	font-family: Segoe Script;
}

.button {
	position: absolute;
	top: 60%;
	left: 70%;
	transform: translate(-50%,-70%);
}

.btn {
	border: 1px solid #ffb3b3;
	padding: 10px 30px;
	color: #ffb3b3;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #ffb3b3;
	color: #000000;
}

	
	